head{
	font-family: 'Quicksand', sans-serif;
}

.navbar {
	
}

.categories li  {
    display: inline;
    float: left;	
    text-decoration: none;
    margin-top:5%;
    margin-left:16%;
    position:relative;
}

img{
	clear: left;
	position:absolute;
	margin-left:44%;
}

.content {
    width: 800px;
    margin-top:20%;
    clear: left;
    font-family: 'Quicksand', sans-serif;
    height: auto;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0px 0px 0px 2px rgb(225, 225, 225) inset;
    background-color: #F1F2F7;
    padding: 0px 15px 15px;
    margin: 0px auto;
    text-align: center;
    overflow: hidden;
}

.boxLine1 li {
    display: inline; 
    float:left;
    padding: 10px 10px 10px;
    width: 210px;
    height: 210px;
    margin: 10px 10px 10px;
    text-align: left;
    border-color: rgb(204, 204, 204);
	border-width: 1px;
	border-style: dashed;
    cursor: pointer;
    color: rgb(0, 0, 0);
}

.boxLine2 li {
    display: inline; 
    float:left;
    padding: 10px 10px 10px;
    width: 210px;
    height: 210px;
    margin: 10px 10px 10px;
    text-align: left;
    border-color: rgb(204, 204, 204);
	border-width: 1px;
	border-style: dashed;
    cursor: pointer;
    color: rgb(0, 0, 0);
}


